{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>فاکتور</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
</head>

<body>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Content -->
    <div class="container content-space-2">
      <div class="w-lg-85 mx-lg-auto">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body">
            <div class="row justify-content-lg-between">


              <div class="col-sm-auto  text-right mb-3">
                <div class="mb-3">
                  <h2> فاکتور شماره</h2>
                  <span class="d-block">{{ object.id }}</span>
                </div>

              </div>
              <!-- End Col -->

              <div class="col-sm-auto  mb-3">
                <div class="mb-2">
                  <img class="avatar" src="{% static 'svg/logos/logo-short.svg'%}" alt="Logo">
                </div>
              </div>
              <!-- End Col -->

            </div>
            <!-- End Row -->

            <div class="row justify-content-md-between mb-3">
              <div class="col-md">
                <dl class="row">
                  <dt class="col-sm-8">نام سفارش دهنده:</dt>
                  <dd class="col-sm-4">{{ object.user.user_profile.get_fullname }}</dd>
                </dl>
                <dl>
                  <dt class="col-sm-8">آدرس:</dt>
                  <address>{{ object.state }}, {{ object.city }}, {{ object.address }}</address>
                  
                </dl>
              </div>
              <!-- End Col -->

              <div class="col-md text-md-end">
                <dl class="row">
                  <dt class="col-sm-8">زمان سفارش:</dt>
                  <dd class="col-sm-4">{{ object.created_at|date:"M d, Y" }}</dd>
                  <dt class="col-sm-8"> نوع سفارش:</dt>
                  <dd class="col-sm-4"> پیشتاز</dd>
                </dl>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-borderless table-nowrap table-align-middle">
                <thead class="thead-light">
                  <tr>
                    <th>تصور کالا</th>
                    <th>کالا</th>
                    <th>تعداد</th>
                    <th class="table-text-end">قیمت</th>
                  </tr>
                </thead>

                <tbody>
                  {% for item in object.order_items.all %}
                  <tr>
                    <th>
                      <div class="col">
                          <img class="avatar avatar-xl avatar-4x3" src="{{ item.product.image.url }}" alt="{{ item.product.title }}">
                      </div>
                    </th>
                    <th>{{ item.product.title }}</th>
                    <td>{{ item.quantity }}</td>

                    <td class="table-text-end">{{ item.price|intcomma }} تومان</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End Table -->

            <hr class="my-5">

            <div class="row mb-3">

              <div class="row mb-3">
                <dt class="col-md-3">هزینه ارسال:</dt>
                {% if shipping_cost %}
                <dl class="col-md-3">{{ shipping_cost|intcomma }} تومان</dl>
                {% else %}
                <dl class="col-md-3">رایگان</dl>
                {% endif %}
                <dt class="col-md-3">مالیات :</dt>
                <dl class="col-md-3">{{ total_tax|intcomma }}</dl>
                
              </div>
              <div class="row mb-3">
                <dt class="col-md-3">تخفیف :</dt>
                {% if discount_amount %}
                <dl class="col-md-3">{{ discount_amount|intcomma }} تومان</dl>
                {% else %}
                <dl class="col-md-3">بدون تخفیف</dl>
                {% endif %}

                <dt class="col-md-3">مبلغ نهایی:</dt>
                <dl class="col-md-3">{{ order.total_price|intcomma }} تومان</dl>
              </div>
              {% if coupon %}
              <div class="row mb-3">
                <dt class="col-md-3">کد تخفیف :</dt>
                <dl class="col-md-3">{{ coupon }} - {{ coupon.discount_percent }}%</dl>
              </div>
              <!-- End Row -->
              {% endif %}

            </div>
            <!-- End Row -->


          </div>
        </div>
        <!-- End Card -->

        <!-- Footer -->
        <div class="d-flex justify-content-end d-print-none gap-3">
          <a class="btn btn-white" href="#">
            <i class="bi-file-earmark-arrow-down me-1"></i> PDF
          </a>

          <a class="btn btn-primary" href="javascript:;" onclick="window.print(); return false;">
            <i class="bi-printer me-1"></i> Print details
          </a>
        </div>
        <!-- End Footer -->
      </div>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Front -->
  <script src="{% static 'js/theme.min.js' %}"></script>
</body>
</html>