{% load static %}
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static "js/jquery/jquery-2.2.4.min.js" %}"></script>
<!-- Popper js -->
<script src="{% static "js/popper.min.js" %}"></script>
<!-- Bootstrap js -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Plugins js -->
<script src="{% static "js/plugins.js" %}"></script>
<!-- Classy Nav js -->
<script src="{% static "js/classy-nav.min.js" %}"></script>
<!-- Active js -->
<script src="{% static "js/active.js" %}"></script>