{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static "img/core-img/favicon.ico" %}">

    {% include "base/_header_refrences.html" %}

</head>

<body>
    {% include "base/shared/header.html" %}
    {% block content %}{% endblock content %}
    {% include "base/shared/footer.html" %}
    {% include 'base/_footer_refrences.html'%}
</body>
</html>