{% extends "dashboard/customer/base.html" %}
{% load static %}
{% block header %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">حساب</li>
    <li class="breadcrumb-item">داشبورد کاربری</li>
    <li class="breadcrumb-item active" aria-current="page">افزدن آدرس</li>
  </ol>
</nav>
<!-- End Breadcrumb -->
{% endblock header %}
{% block content %}
<!-- Card -->
<div class="card">
  <!-- Header -->
  <div class="card-header border-bottom">
    <h5 class="card-header-title">افزودن آدرس</h5>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <form action="." method="post">
      {% csrf_token %}
      <div class="row d-flex ">
        <div class="col-md-6 mb-3">
          <label>عنوان آدرس</label>
          {{form.title}}
        </div>
        <div class="col-md-6 mb-3">
          <label>استان</label>
          {{form.state}}
        </div>
        <div class="col-md-6 mb-3">
          <label>شهر</label>
          {{form.city}}
        </div>
        <div class="col-md-6 mb-3">
          <label>کد پستی</label>
          {{form.zip_code}}
        </div>
        <div class="col-md-12 mb-3">
          <label>آدرس</label>
          {{form.address}}
        </div>
      </div>
      <div class="card-footer">
          <div class=" d-flex pt-5 justify-content-end">
            <a class="btn btn-secondary ms-3" href="{% url "dashboard:customer:address-list" %}">بازگشت</a>
            <button type="submit" class="btn btn-primary ms-3">افزودن آدرس</button>
          </div>
      </div>
    </form>
  </div>
</div>

<!-- End Body -->
{% endblock content %}