{% extends "dashboard/admin/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">حساب</li>
    <li class="breadcrumb-item">داشبورد ادمین</li>
    <li class="breadcrumb-item active" aria-current="page">
         دیدگاه کاربران  
    </li>
  </ol>
</nav>
<!-- End Breadcrumb -->
{% endblock header %}
{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="">لیست نظرات ({{total_review}})</h5>
      </div>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <div class="container pb-5">
        <form class="row">

            <!-- Input Card -->
            <div class="col-md-5 py-1">
              <input type="text" name="q" class="form-control" id="search-query-filter" placeholder="جستجو" aria-label="جستجو">
    
            </div>
            <!-- End Input Card -->
            <div class="col-md-3 py-1">
              <select class="form-select" id="status-type-filter" name="status">
                <option value="" selected>وضعیت</option>
                {% for status_type in statuses %}
                <option value="{{status_type.0}}">{{status_type.1}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-3 py-1">
              <select class="form-select" id="order-by-filter">
                <option value="" selected>مرتب سازی</option>
                <option value="-created_at">جدیدترین</option>
                <option value="created_at">قدیمی ترین</option>
                <option value="rate">کمترین امتیاز</option>
                <option value="-rate">بیشترین امتیاز</option>
            </select>
            </div>
            <div class="col-md-1 py-1">
              <button type="submit" class="btn btn-primary btn-search"><i class="bi-search"></i></button>
            </div>
          </form>

      </div>

      <div class="row">
        <!-- Table -->
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">وضعیت</th>
                <th scope="col">محصول</th>
                <th scope="col">توسط</th>
                <th scope="col">امتیاز</th>
                <th scope="col">تاریخ ثبت</th>
                <th scope="col">عملیات</th>
              </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}
                <tr>
                    <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
                    {% if object.status == 1 %}
                    <td><span class="badge bg-warning">{{ object.get_status_display }}</span></td>
                    {% elif object.status == 2 %}
                    <td><span class="badge bg-success">{{ object.get_status_display }}</span></td>
                    {% elif object.status == 3 %}
                    <td><span class="badge bg-danger">{{ object.get_status_display }}</span></td>
                    {% endif %}
                    <td>{{ object.product.title }}</td>
                    <td>{{ object.user.user_profile.get_fullname }}</td>
                    <td>
                        {% for i in "12345" %}
                        {% if i|add:0 <= object.rate %}
                        <span><i class="bi bi-star-fill star-rate"></i></span>
                        {% else %}
                        <span><i class="bi bi-star star-rate"></i></span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ object.created_at|date:"M d, Y h:i" }}</td>
                    <td class="align-content-center">
                      <a class="btn btn-sm btn-icon btn-ghost-secondary" href="{% url "dashboard:admin:review-edit" pk=object.pk %}"><i class="bi-pencil-square"></i></a>
                    </td>
                </tr>
                {% empty %}
                <div class="row text-center w-100 py-5">
                    <p class="text-center">دیدگاهی ثبت نشده است.</p>
                </div>
                <!-- End Col -->
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- End Table -->
        {% if page_obj.has_other_pages %}
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <button class="page-link" onclick="changePage({{ page_obj.previous_page_number }})" aria-label="Previous">
                <span aria-hidden="true">
                    <i class="bi-chevron-double-right small"></i>
                </span>
                </button>
            </li>
            {% endif %}
            {% for page in page_obj.paginator %}
            {% if page.number == page_obj.number %}
            <li class="page-item active"><button class="page-link" onclick="changePage({{ page.number }})">{{ page.number }}</button></li>
            {% elif page.number > page_obj.number|add:'-3' and page.number < page_obj.number|add:'3' %}
            <li class="page-item"><button class="page-link" onclick="changePage({{ page.number }})">{{ page.number }}</button></li>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
                <li class="page-item">
                    <button class="page-link " onclick="changePage({{ page_obj.next_page_number }})" aria-label="Next">
                    <span aria-hidden="true">
                        <i class="bi-chevron-double-left small"></i>
                    </span>
                    </button>
                </li>
            {% endif %}
            </ul>
        </nav>
        <!-- End Pagination -->
        {% endif %}  
      </div>
      <!-- End Row -->
    </div>
    <!-- End Body -->
</div>
<!-- End Card -->
{% endblock content %}
{% block extra_js %}
<script>
    $(document).ready(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        $("#search-query-filter").val(current_url_params.get("q") || "")
        $("#order-by-filter").val(current_url_params.get("order_by") || "")
        $("#status-type-filter").val(current_url_params.get("status") || "")
    })
    $("#order-by-filter").change(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    })
</script>
{% endblock extra_js %}