{% extends "dashboard/admin/base.html" %}
{% load static %}
{% block header %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">حساب</li>
    <li class="breadcrumb-item">داشبورد مشتری</li>
    <li class="breadcrumb-item">لیست علاقه مندی ها</li>
    <li class="breadcrumb-item active" aria-current="page">حذف محصول از لیست</li>
  </ol>
</nav>
<!-- End Breadcrumb -->
{% endblock header %}
{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      <h5 class="card-header-title">حذف محصول</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <form action="." method="post">
        {% csrf_token %}
        <div class="row d-flex ">
          <p>آیا از حذف محصول زیر اطمینان دارید؟</p>
          <div class="row">
            <span>شناسه محصول: {{object.product.id}}</span>
            <span>نام محصول: {{object.product.title}}</span>
            <span>SKU محصول: {{object.product.sku}}</span>
          </div>
        </div>
        <div class="card-footer">
            <div class=" d-flex pt-5 justify-content-end">
              <button type="submit" class="btn btn-danger ms-3">تایید حذف</button>
              <a class="btn btn-secondary ms-3" href="{% url "dashboard:admin:product-edit" pk=object.pk%}">بازگشت</a>
            </div>
        </div>
      </form>
    </div>
</div>
<!-- End Body -->
{% endblock content %}