{% extends "base/base.html" %} 
{% block title %}Forget Password Page{% endblock title%} 
{% block content %}
<!-- Form -->
<div
  class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3"
>
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem">
    <!-- Heading -->
    <div class="text-center mb-5 mb-md-7">
      <h1 class="h2">بازیابی رمز عبور</h1>
    </div>
    <!-- End Heading -->
<form  method="post">
  {% csrf_token %}
  <!-- Form -->
  <div class="mb-3">
    <label class="form-label">رمز عبور جدید</label>

    <div
      class="input-group input-group-merge"
    >
      <input
        type="password"
        class="js-toggle-password form-control form-control-lg text-center"
        name="new_password1"
        id="signupSimpleSignupPassword"
        placeholder="8+ characters required"
        aria-label="8+ characters required"
        required
        data-hs-toggle-password-options='{
                 "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                 "defaultClass": "bi-eye-slash",
                 "showClass": "bi-eye",
                 "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
               }'
      />
      <a
        class="js-toggle-password-target-1 input-group-append input-group-text"
        href="javascript:;"
      >
        <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
      </a>
    </div>

    <span class="invalid-feedback"
      >رمز عبور شما نامعتبر است. لطفا دوباره تلاش کنید.</span
    >
  </div>
  <!-- End Form -->

  <!-- Form -->
  <div class="mb-3">
    <label class="form-label"
      >رمز عبور را تایید کنید</label
    >

    <div
      class="input-group input-group-merge"
    >
      <input
        type="password"
        class="js-toggle-password form-control form-control-lg text-center"
        name="new_password2"
        id="signupSimpleSignupConfirmPassword"
        placeholder="8+ characters required"
        aria-label="8+ characters required"
        required
        data-hs-validation-equal-field="#signupSimpleSignupPassword"
        data-hs-toggle-password-options='{
               "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
               "defaultClass": "bi-eye-slash",
               "showClass": "bi-eye",
               "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
             }'
      />
      <a
        class="js-toggle-password-target-2 input-group-append input-group-text"
        href="javascript:;"
      >
        <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
      </a>
    </div>

    <span class="invalid-feedback"
      >رمز عبور با رمز عبور تأیید مطابقت ندارد.</span
    >
  </div>
  <!-- End Form -->

  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-primary btn-lg">ارسال لینک بازیابی</button>
  </div>
</form>
    <!-- End Form -->
  </div>
</div>
<!-- End Form -->
{% endblock content %}
