{% extends "base/base.html" %} 
{% block title %}Forget Password Page{% endblock title%} 
{% block content %}
<!-- Form -->
<div
  class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3"
>
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem">
    <!-- Heading -->
    <div class="text-center mb-5 mb-md-7">
      <h1 class="h2">بازیابی رمز عبور</h1>
    </div>
    <!-- End Heading -->
<form  method="post">
  {% csrf_token %}
  <!-- Form -->
  <div class="mb-4">
    <label class="form-label">ایمیل شما</label>
    <input
      type="email"
      class="form-control form-control-lg text-center"
      name="email"
      id="signupSimpleLoginEmail"
      placeholder="email@site.com"
      aria-label="email@site.com"
      required
    />
    <span class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید.</span
    >
  </div>
  <!-- End Form -->

  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-primary btn-lg">ارسال لینک بازیابی</button>
  </div>
</form>
    <!-- End Form -->
  </div>
</div>
<!-- End Form -->
{% endblock content %}
