{% extends "dashboard/admin/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">حساب</li>
    <li class="breadcrumb-item">داشبورد ادمین</li>
    <li class="breadcrumb-item active" aria-current="page">لیست محصولات</li>
  </ol>
</nav>
<!-- End Breadcrumb -->
{% endblock header %}
{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="">لیست محصولات</h5>
        <a class="btn btn-primary" href="./admin-account-add-product.html">اضافه کردن</a>
      </div>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <div class="container pb-5">
        <form class="row">

          <!-- Input Card -->
          <div class="col-md-5 py-1">
            <input type="text" name="q" class="form-control" id="search-query-filter" placeholder="جستجوی" aria-label="جستجوی محصولات">
          </div>
          <!-- End Input Card -->
          <div class="col-md-3 py-1">
            <select class="form-select" id="order-by-filter">
                <option value="" selected>مرتب سازی</option>
                <option value="-created_at">جدیدترین</option>
                <option value="created_at">قدیمی ترین</option>
                <option value="-price">بیشترین قیمت</option>
                <option value="price">کمترین قیمت</option>
            </select>
          </div>
          <div class="col-md-3 py-1">
            <select class="form-select" name="category_id" id="category-id-filter">
                <option value="" selected>دسته بندی</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-md-1 py-1">
            <button type="submit" class="btn btn-primary btn-search"><i class="bi-search"></i></button>
          </div>
        </form>

      </div>

      <div class="row">
        <!-- Table -->
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">تصویر</th>
                <th scope="col">نام</th>
                {% comment %} <th scope="col">دسته بندی</th> {% endcomment %}
                <th scope="col">قیمت</th>
                <th scope="col">تعداد</th>
                <th scope="col">وضعیت</th>
                <th scope="col">تخفیف</th>
                <th scope="col">عملیات</th>
              </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}
                <tr>
                    <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
                    <td class="align-content-center"><img class="avatar avatar-xl avatar-4x3" src="{{ object.image.url }}" alt="{{ object.title }}"/></td>
                    <td class="align-content-center">{{ object.title }}</td>
                    {% comment %} <td>کیف</td> {% endcomment %}
                    <td class="align-content-center">
                        {% if object.discount_percent %}
                        <del>{{ object.price|intcomma }}</del>
                        {{ object.get_price|intcomma  }}
                        {% else %}
                        {{ object.price|intcomma }}
                        {% endif %}
                    </td>
                    <td class="align-content-center">{{ object.stock }}</td>
                    <td class="align-content-center">
                        {% if object.status == 2 %}
                        <span class="badge bg-success">نشر شده</span>
                        {% else %}
                        <span class="badge bg-danger">عدم انتشار</span>
                        {% endif %}
                    </td>
                    <td class="align-content-center">%{{object.discount_percent}}</td>
                    <td class="align-content-center">
                      <a class="btn btn-sm btn-icon btn-ghost-secondary" href="./admin-account-products-single.html"><i class="bi-pencil-square"></i></a>
                      {% if object.status == 2 %}
                      <a class="btn btn-sm btn-icon btn-ghost-primary" href="{% url "shop:product-detail" slug=object.slug %}"><i class="bi-eye"></i></a>
                      {% endif %}
                    </td>
                </tr>
                {% empty %}
                <div class="row text-center w-100 py-5">
                    <p class="text-center">هیچ کالایی برای نمایش وجود ندارد</p>
                </div>
                <!-- End Col -->
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- End Table -->

        {% if page_obj.has_other_pages %}
        <!-- Pagination -->
        <div class="row pt-5 mt-3">
        <nav aria-label="Page navigation py-3">
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <button class="page-link" onclick="changePage({{ page_obj.previous_page_number }})">قبلی</button>
            </li>
            {% endif %}
            {% for page in page_obj.paginator %}
            {% if page.number == page_obj.number %}
            <li class="page-item active"><button class="page-link" onclick="changePage({{ page.number }})">{{ page.number }}</button></li>
            {% elif page.number > page_obj.number|add:'-3' and page.number < page_obj.number|add:'3' %}
            <li class="page-item"><button class="page-link" onclick="changePage({{ page.number }})">{{ page.number }}</button></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <button class="page-link" onclick="changePage({{ page_obj.next_page_number }})" aria-label="Next">بعدی</button>
                </li>
            {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
      </div>
      <!-- End Row -->

    </div>
    <!-- End Body -->
</div>
<!-- End Card -->
{% endblock content %}
{% block extra_js %}
<script>
    $(document).ready(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        $("#search-query-filter").val(current_url_params.get("q") || "")
        $("#order-by-filter").val(current_url_params.get("order_by") || "")
        $("#category-id-filter").val(current_url_params.get("category_id") || "")
    })
    $("#page-size-filter").change(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("page_size", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    })
    $("#order-by-filter").change(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    })
</script>
{% endblock extra_js %}