  {% load static %}
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-light">
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="{% url "website:index" %}" aria-label="Front">
          <img class="navbar-brand-logo" src="{% static 'svg/logos/logo.svg' %}" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url "website:index" %}">صفحه اصلی</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'product-grid' %}active{% endif %}" href="{% url "shop:product-grid" %}">لیست محصولات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'website:about' %}">درباره ما</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'website:contact' %}">تماس با ما</a>
            </li>
          </ul>
          <ul  class="navbar-nav">
            <li class="nav-item">
              <!-- Search -->
              <button class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarSearch" aria-controls="offcanvasNavbarSearch">
                <i class="bi-search"></i>
              </button>
              <!-- End Search -->

              <!-- Shopping Cart -->
              {% comment %} <button type="button" class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarShoppingCart" aria-controls="offcanvasNavbarShoppingCart">
                <i class="bi-basket"></i>
                <span class="cart-item-count ">3</span>
              </button> {% endcomment %}
              <!-- End Shopping Cart -->
              <!-- Shopping Cart -->
              <a class="btn btn-ghost-secondary btn-icon" href="{% url "cart:session-cart-summary" %}">
                <i class="bi-basket"></i>
                <span class="cart-item-count" id="total-cart-item-count">{{ cart.get_total_quantity }}</span>
              </a>
              <!-- End Shopping Cart -->

              {% if request.user.is_authenticated %}
              <button class="btn btn-ghost-secondary btn-icon" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="avatar avatar-sm avatar-circle">
                  <img class="avatar-img" src="{% static "img/160x160/img10.jpg" %}" alt="Image Description">
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
                {% if request.user.is_superuser %}<li><a class="dropdown-item" href="{% url "admin:index" %}">پنل ادمین</a></li>{% endif %}
                <li><a class="dropdown-item" href="{% url "dashboard:home" %}">پروفایل</a></li>
                <li><a class="dropdown-item" href="#">آدرس ها</a></li>
                <li><a class="dropdown-item" href="#">سفارشات</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">خروج</a></li>
              </ul>
              
              {% else %}
              <a class="btn btn-primary btn-transition" href="{% url 'accounts:login' %}">ورود</a>
              {% endif %}
            </li>
          </ul>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  
<!-- ========== END HEADER ========== -->