{% load static %}
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
<!-- CSS Front Template -->
<link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<!-- CSS Toastify -->
<link rel="stylesheet" href="{% static 'vendor/toastify/toastify.css' %}">