{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %}فروشگاه | جلو - قالب چند منظوره پاسخگو{% endblock title %}</title>
  {% include "base/_header_refrences.html" %}
  {% block extra_css %}{% endblock extra_css %}
  {% block extra_css_no_compress %}{% endblock extra_css_no_compress %}
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
{% include "base/shared/header.html" %}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">{% block content %}{% endblock content %}</main>
<!-- ========== END MAIN CONTENT ========== -->
{% include "base/shared/footer.html" %}
<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Sign Up -->
<!-- Go To -->
<a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
    "offsetTop": 700,
    "position": {
        "init": {
        "right": "2rem"
        },
        "show": {
        "bottom": "2rem"
        },
        "hide": {
        "bottom": "-2rem"
        }
    }
    }'>
<i class="bi-chevron-up"></i>
</a>
<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
<div class="offcanvas-body">
    <div class="container">
    <div class="w-lg-75 mx-lg-auto">
        <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="mb-7">
        <!-- Form -->
        <form>
            <!-- Input Card -->
            <div class="input-card">
            <div class="input-card-form">
                <input type="text" class="form-control form-control-lg" placeholder="جستجو محصولات"
                aria-label="جستجو محصولات">
            </div>
            <button type="button" class="btn btn-primary btn-lg">جستجو کردن</button>
            </div>
            <!-- End Input Card -->
        </form>
        <!-- End Form -->
        </div>


    </div>
    </div>
</div>
</div>
<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbarShoppingCart">
<div class="offcanvas-header justify-content-between border-0 pb-0 ">
    <span> 3 کالا</span>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body">

    <div class="">
    <!-- Product -->
    <div class="border-bottom  mb-4">
        <div class="d-flex">
        <div class="flex-shrink-0">
            <div class="avatar avatar-lg ms-3">
            <img class="avatar-img" src="assets/img/320x320/img2.jpg" alt="Image Description">
            </div>
        </div>

        <div class="flex-grow-1">
            <a class="h5" href="./product-overview.html">کوله پشتی ملی اصل</a>

            <div class="d-grid py-3">
            <div class="text-body py-1">
                <div class="d-flex justify-content-start align-items-center">
                <span class="h6">تعداد:</span>
                <div class="quantity">
                    <div class="input-group input-group-sm quantity-selector px-5">
                    <button type="button" class="btn btn-sm btn-icon btn-outline-primary">
                        <i class="bi-plus"></i>
                    </button>
                    <input type="number" class="form-control" value="2" min="1" max="10">
                    <button type="button" class="btn btn-sm btn-icon btn-outline-danger">
                        <i class="bi-dash"></i>
                    </button>
                    </div>
                </div>
                </div>

            </div>
            <div class="text-body py-1">
                <div class="d-flex justify-content-start  align-items-center">
                <span class="h6">قیمت:</span>
                <span class="px-5">150000 تومان</span>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- End Product -->
    <!-- Product -->
    <div class="border-bottom  mb-4">
        <div class="d-flex">
        <div class="flex-shrink-0">
            <div class="avatar avatar-lg ms-3">
            <img class="avatar-img" src="assets/img/320x320/img3.jpg" alt="Image Description">
            </div>
        </div>

        <div class="flex-grow-1">
            <a class="h5" href="./product-overview.html">تیشرت مشکی</a>

            <div class="d-grid py-3">
            <div class="text-body py-1">
                <div class="d-flex justify-content-start align-items-center">
                <span class="h6">تعداد:</span>
                <div class="quantity">
                    <div class="input-group input-group-sm quantity-selector px-5">
                    <button type="button" class="btn btn-sm btn-icon btn-outline-primary">
                        <i class="bi-plus"></i>
                    </button>
                    <input type="number" class="form-control" value="1" min="1" max="10">
                    <button type="button" class="btn btn-sm btn-icon btn-outline-danger">
                        <i class="bi-trash"></i>
                    </button>
                    </div>
                </div>
                </div>

            </div>
            <div class="text-body py-1">
                <div class="d-flex justify-content-start  align-items-center">
                <span class="h6">قیمت:</span>
                <span class="px-5">100000 تومان</span>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- End Product -->

    </div>
    
    <div class="d-grid">
    <p class="text-center">قیمت نهایی: 35000 تومان</p>
    <a class="btn btn-primary btn-lg" href="cart.html">سبد خرید</a>
    </div>

</div>
</div>
<!-- ========== END SECONDARY CONTENTS ========== -->
{% include "base/_footer_refrences.html" %}
{% block extra_js %}{% endblock extra_js %}
{% block extra_js_no_compress %}{% endblock extra_js_no_compress %}
</body>
</html>